@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}
:root {
    --black: #000000;
    --white: #ffffff;
    --orange: #F28B26;
    --red: #e74c3c;
    --yellow: #f1c40f;
  }



body {
    background-color: var(--white);
    height: 100vh;
    width: 100%;
    padding-top: 70px;
    overflow-x: hidden;
}

/*ELEMENTOS HEADER*/

header {
    background-color: var(--white);
    height: auto; 
    width: 100vw;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    position: fixed;
    z-index: 1;
    color:var(--black);
    top: 0;
    left: 0;
}



.menu-desplegable{
    width: 20px;
    cursor: pointer;
}

.logo-coolmod{
    height: 28px;
    cursor: pointer;
    
}

.search-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    position: relative;
    height: 50px;
}

.search-button{
    all: unset;
    position: absolute;
    margin-right: 230px;
}

.search-button img{
    width: 20px;
    margin-top: 15px;

}

.search-container input {
    width: 100vw;
    border-radius: 30px;
    background-color: #DCDCDC;
    border: none;
    outline: none;
    opacity: 50%;
   
    
}

input::placeholder {
    text-align: center; 
    vertical-align: middle; 
    font-size: 1.3em;

}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10%;
  cursor: pointer;
}

.login-container:hover{
  background-color: lightgray;
  
}

.sesion{
  display: none;
}




.cart-container{
  display: flex;
  gap: 10px;
  cursor: pointer;
  min-width: 95px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.cart-container:hover {
  background-color: lightgray;
  overflow: hidden;
  border-radius: 10%;
}

.red-circle{
  background-color: red;
  height: 24px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.red-circle>span{
  color: var(--white);
  font-weight: bold;
}



/*CARRUSEL DE IMÁGENES*/
.carrussel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0; 
  margin-top: 70px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  
}

  
  .carrussel {
    display: flex;
    width: 100%;
    
  }
  
  .carrussel-container {
    display: flex;
    animation: slide 20s infinite linear; 
    gap: 5px;
    list-style: none;
  }
  
  .carrussel-container img {
    width: 100vw; 
    object-fit: cover; 
    cursor: pointer;
  }
  
  /* Animación para el deslizamiento */
  @keyframes slide {
    0% {
      transform: translateX(0); 
    }
    25% {
      transform: translateX(-100vw); 
    }
    50% {
      transform: translateX(-200vw); 
    }
    75% {
      transform: translateX(-300vw); 
    }
    100% {
      transform: translateX(-400vw); 
    }
  }

  .section-1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    text-align: center;
    
  }

  
  /* MAIN Y SUS ELEMENTOS*/
main {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  width: clamp(100%, 100%, 130px);
  grid-gap: 5px; 
  margin-left: 10px; 
  padding-right: 50px;
}


.product {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}

.product:hover{
  transform: translateY(-10px);
  cursor: pointer;
  
}

.gradient-background{
  width: 150px;
  height: auto;
  background: rgb(247,106,235);
  background: linear-gradient(180deg, rgba(247,106,235,0.46551120448179273) 0%, rgba(255,121,230,0.23301820728291311) 44%, rgba(255,171,0,0.28904061624649857) 100%);
  border-radius: 100%;
  margin-top: 30px;  
}

.product img {
  width:100%; 
  height: 130px;
  object-fit:contain;
}


.info-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 10px;
  max-width: 300px;
}

.item {
  color: darkgray;
  margin: 5px 0; 
  
}

.info-container p {
  margin: 5px 0;
  font-weight: bold;
}

.precio-original{
  text-decoration: line-through;
  color: darkgray;
  margin-top: 5px;
  

}


.precio-descontado{
  display: flex;
  color: var(--red);
  font-weight:bold;
  margin-top: 5px;
  font-size: 1.4em;

}


.section-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.section-2>img{
  width: 100%;
  max-height: 400px;
  padding-top: 20px;
  object-fit: cover;
  cursor: pointer;
}
  
.section-3 {
  padding: 20px;
  padding-top: 40px;
  background-color: #f9f9f9;
  margin-top: 60px;
}

.section-3 h1 {
  text-align: center;
  margin-bottom: 20px;
  
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  max-width: 1200px; 
  margin: 0 auto; /
  
}

.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white);
  height: 100px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.077);
}

.features img {
  width: 20px; 
  height: auto;
  margin-bottom: 10px; 
  
}

.features p {
  margin: 0;
  font-size: 1em;
  padding: 5px;
}

/*CARRUSSEL 2*/
.carrussel-wrapper-2 {
  overflow: hidden;
  width: 100%;
  background-color: #f5f5f5;
  padding: 2rem 0;
  background-color: var(--white);
}

.carrussel-container-2 {
  display: flex;
  gap: 1.5rem;
  width: max-content;
  animation: scrollCarrusel 30s linear infinite;
  margin-top: 60px;
  
}

@keyframes scrollCarrusel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.product-card {
  flex: 0 0 auto;
  width: 220px;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  scroll-snap-align: start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.product-card h3 {
  font-size: 16px;
  margin: 0.5rem 0 0.3rem;
}

.product-card .precio {
  color: #e60000;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-card button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.product-card button:hover {
  background-color: #e67e00;
}


.wrapper-span1{
  padding-left: 30px;

}

.carrussel-header{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 10px;
  align-items: center;
}

.carrussel-header span:first-child{
  font-weight: 500;
  font-size: 1.3em;
}

.carrussel-header span:nth-child(2){
  font-weight: bold;
  color:#ff9800;
  cursor: pointer;

}



.section-4 {
  text-align: center;
  padding: 2rem 1rem;
}

.section-4 h2.coolpc {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.coolpc-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
  max-width: 800px;
  margin: 0 auto; 
}

.coolpc-container img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}

.article-1 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 15px;

}

.article-1 div:first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px;
  padding-bottom: 20px;
}

.article-1 img{
  width: min(100%, 1000px);;
  object-fit: contain;
  padding: 20px;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.article-1 span{
  color: #ff9800;
  font-weight: 600;
  cursor: pointer;
  
  
}

.article-1 span:nth-child(1){
  color: rgba(132, 131, 131, 0.788);
  font-weight: 400;
  cursor: default;
}

.article-1 h3 {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  text-align: center;
}

.article-1 h1{

  font-size: clamp(1em, 1vw + 1em, 3em);
}




.article-1 p {
  padding: 20px;
  text-align: center;
}

.article-1 div:nth-child(3){
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}

.article-1 p, .article-1 h3{
  font-size: clamp(1em, 1vw + 1em, 1.5em);
}

.section-5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  background-color: #f5f5f5b2;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 25px;
  gap: 10px;

}

.section-5 p {
  padding: 10px;
  color: rgb(127, 126, 126);
}

.section-5 input{
  width: 100%;
  border-radius: 20px;
  height: 45px;
  border-style: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-5 input::placeholder{
  opacity: 70%;
}

.section-5 button{
  width: 100%;
  background-color: #ff9800;
  border-style: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-5 button:hover{
  background-color: #db8401;
}




.section-6 h1{
  text-align: center;
  padding: 10px;
  padding-top: 50px;
}


.section-6 div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; 
  padding: 10px;
  padding-left: 70px;
}

.section-6 img{
  max-width: 70%;
  padding: 15px;
  cursor: pointer;
}

.section-6 span {
  color: #F28B26;
  font-weight: 600;
  text-align: center;
  display: block; 
  margin: 0 auto;  
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
  padding-bottom: 40px;
}




.desplegables {
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(211, 211, 211, 0.195);
  margin-top: 40px;
  
}

details {
  padding: 10px 0;
  margin-bottom: 20px;
  
  
}

summary {
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  position: relative;
  font-size: 1.2em;
  padding: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
}



details[open] summary::after {
  content: "▲";
}

details img {
  min-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

details p {
  padding-bottom: 30px;
  
}





footer {
  background: white;
  font-family: sans-serif;
  width: 100%;
  border-top: solid lightgray 1px;
  margin-top: 40px;
}

.logo {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  margin-bottom: 20px;
  left: 0;
  padding-top: 30px;
  padding-left: 20px;
  cursor: pointer;
}


.payment-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  
}



.payment-icons img {
  height: clamp(25px, 5vw, 50px);
  
}



.legal-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2em;
  color: #777;
  width: 100%;
  border-top:  solid lightgray 1px;
  padding-top: 25px;
  margin-top: 10px;
  
}



footer p {
  padding: 20px;
  text-align: center;
  font-size: clamp(0.5em, 0.5vw + 1em, 1.5em);
  
}

.legal-links span{
  cursor: pointer;
}


@media (min-width: 768px){

  .carrussel-container img {
    width: 60vw; 
    object-fit: cover; 
    cursor: pointer;
  }

  .logo-coolmod{
    width: 300px;
    height: auto;
    order: -2;
  }


  .menu-desplegable{
    display: none;
  }

  
  


  main{
    display: flex;
    justify-content: center;

  }



  .sesion{
    display: flex;
    margin: 0 auto;
    padding: 0;
  }


  .section-6 div{
    display: flex;
    padding: 0;
    justify-content: center;
  }
  
  .login-container{
    display: flex;
    width: 200px;
    border-radius: 5px;
    margin-left: 100px;
    padding: 10px;
    
  }

}

@media (min-width: 1000px){

  .login-container{
    margin-left: 300px;
  }

  .cart-container{
    margin-right: 40px;
  }




}

@media (min-width: 1400px){

  .login-container{
    margin: 0;
  }

  .cart-container{
    margin: 0;
  }

  header{
    
  }



.search-container{
  order: -1;
  width: 50vw;
}





}


@media (min-width: 1789px){
  .login-container{
    margin-left: 90px;
    margin-right: -20px;
  }

  .cart-container{
    margin-right: 100px;
  }

  .search-container{
    margin-right: 90px;
  }
  


}
